@import "vars";
@import "global";
.header__top-inner {
    display: flex;
    justify-content: space-between;
    height: 90px;
    align-items: center;
}

.header__text {
    margin-left: auto;
    margin-right: 50px;
    span {
        color: $red;
    }
}

.header__btn {
    padding: 4px;
    width: 72px;
    border-radius: 5px;
    color: #fff;
    text-align: center;
    font-size: 12px;
    font-weight: 400;
}

.header__btn-login {
    background-color: $green;
}

.header__btn-register {
    background-color: $red;
    margin-left: 7px;
}

.header__menu {
    background-color: $bg;
}

.menu {
    display: flex;
    align-items: center;
    height: 60px;
}

.menu__list {
    li {
        display: inline-block;
        &+li {
            margin-left: 38px;
        }
    }
    a {
        color: #fff;
        font-size: 14px;
    }
}

.search {
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    min-height: 530px;
}

.search__inner {
    padding: 155px 0 100px;
    color: #fff;
    text-align: center;
    &-title {
        margin-bottom: 10px;
        font-size: 48px;
        font-weight: 700;
        line-height: 72px;
    }
    &-text {
        margin-bottom: 50px;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }
    &-form {
        max-width: 660px;
        width: 100%;
        margin: 0 auto;
        position: relative;
        input {
            display: block;
            width: 100%;
            box-shadow: 0px 1px 10px 0px rgba(124, 178, 64, 0.75);
            border-radius: 4px;
            height: 56px;
            border: none;
            font-size: 14px;
            font-weight: 500;
            padding-left: 25px;
            padding-right: 60px;
            &::placeholder {
                color: #c9d2d6;
            }
        }
        button {
            position: absolute;
            border: none;
            background-color: transparent;
            right: 20px;
            top: 16px;
        }
    }
}